<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="text-center bg-gradient py-2 mb-3">
            <h2>Personal Todo App</h2>
        </div>
        <div>
            <form action="" method="post" class="input-group">
                {% csrf_token %}
                {{ form.item }}
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="mt-4">
            {% for list in items %}
            <div class="d-flex justify-content-between">
                <p class="text-black fs-4">{{ list.item|capfirst}}</p>
                <p class="fs-4"><a href="delete/{{ list.id }}"><i class="fa fa-close"></i></a></p>
                
            </div>
            <hr>
           
            {% endfor %}
        </div>
    </div>
</body>
</html>